header{
    min-height: 100vh;
    background-image:
     linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)),
    url(../images/Doctors.jpg);

    background-position: center;
    background-size: cover;
    padding-top: 150px;
}